{% extends "base_generic.html" %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <section class="py-3">
        {% element h2 %}
            {% trans "Sign In" %}
        {% endelement %}
        <p>
            Если вы еще не создали учетную запись, пожалуйста, сначала <a href="{{ signup_url }}">зарегистрируйтесь</a>.
        </p>
        {% url 'account_login' as login_url %}
        {% element form form=form method="post" action=login_url tags="entrance,login" %}
            {% slot body %}
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}"/>
                {% endif %}
            {% endslot %}
            {% slot actions %}
                <button class="btn btn-warning" type="submit">
                    {% trans 'Sign In' %}
                </button>
            {% endslot %}
        {% endelement %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </section>
{% endblock content %}
