{% extends "base_generic.html" %}
{% load crispy_forms_filters %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    <section class="py-3">
        {% element h2 %}
            {% trans "Sign Up" %}
        {% endelement %}
        <p>
            {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
        </p>
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
                {% csrf_token %}
                {{ form | crispy }}
                {% if redirect_field_value %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}"/>
                {% endif %}
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="staffCheck" required>
                    <label class="form-check-label" for="staffCheck">
                        Я — сотрудник ТОО «РиддерВостокЭнергоСтрой»
                    </label>
                </div>
            {% endslot %}
            {% slot actions %}
                <div class="mb-3">
                    <button class="btn btn-warning" type="submit">
                        {% trans "Sign Up" %}
                    </button>
                </div>
                <div>
                    <small>
                        Аккаунт будет активирован после подтверждения администратора.
                    </small>
                </div>
            {% endslot %}
        {% endelement %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </section>
{% endblock content %}
